.opening {
    // background-color: red;   
    width: 100%;
    background: linear-gradient(to top, rgba(18, 18, 26, 0.9), transparent, transparent, transparent), url("https://cdn.discordapp.com/attachments/910648406362447873/919588444303421490/unknown.png") no-repeat fixed center;
    background-size: cover;
    // background-position-x: 100%;
    // background-position-y: center;
}